<div class="d-flex flex-row">
    <!--begin::Aside-->
    <div class="flex-row-auto offcanvas-mobile w-200px w-xxl-300px" id="kt_profile_aside">
        <!--begin::Profile Card-->
        <div class="card card-custom">
            <!--begin::Body-->
            <div class="card-body pt-4">
                <ng-container *ngIf="getProject() | async as _project">

                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end">
                        <div ngbDropdown class="dropdown dropdown-inline" data-toggle="tooltip" title=""
                            data-placement="left" data-original-title="Quick actions">
                            <a ngbDropdownToggle class="btn btn-clean btn-hover-light-primary btn-sm btn-icon"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <em class="ki ki-bold-more-hor"></em>
                            </a>
                            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <!--begin::Navigation-->
                                <ul class="navi navi-hover">
                                    <li class="navi-item">
                                        <a [routerLink]="['/projects', _project.key, 'update']" class="navi-link">
                                            <span class="navi-icon">
                                                <em class="flaticon2-edit"></em>
                                            </span>
                                            <span class="navi-text">Edit</span>
                                        </a>
                                    </li>
                                </ul>
                                <!--end::Navigation-->
                            </div>
                        </div>
                    </div>
                    <!--end::Toolbar-->
                    <div class="d-flex align-items-center">
                        <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                            <div *ngIf="_project.pic != null && _project.pic != ''; else firstletter"
                                class="symbol-label" style="background-image:url('{{_project.pic}}')"></div>
                            <ng-template #firstletter>
                                <span class="symbol-label font-size-h3 font-weight-bold">{{
                                        _project.title | firstLetter
                                        }}</span>
                            </ng-template>
                        </div>
                        <div>
                            <a href="#"
                                class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">{{_project.title}}</a>
                            <div class="text-muted">{{_project.description}}</div>
                        </div>
                    </div>
                    <div class="py-9">
                        <div class="d-flex align-items-center justify-content-between flex-lg-fill mb-2">
                            <span class="font-weight-bold mr-2">Members:</span>
                            <div class="symbol-group symbol-hover"
                                *ngIf="getProjectUsers(_project.ownerUserId, _project.projectUserIds) | async as _projectUsers; else loadingMembers">
                                <div *ngFor="let user of _projectUsers.slice(0, 5)"
                                    class="symbol symbol-30 symbol-circle" data-toggle="tooltip" title=""
                                    data-original-title="Mark Stone">
                                    <div *ngIf="user.pic != null && user.pic != ''; else firstletter"
                                        class="symbol-label" style="background-image:url('{{user.pic}}')"></div>
                                    <ng-template #firstletter>
                                        <span class="symbol-label font-size-sm font-weight-bold">{{
                                                user.fullname | firstLetter
                                                }}</span>
                                    </ng-template>
                                </div>
                                <div class="symbol symbol-30 symbol-circle symbol-light"
                                    *ngIf="_projectUsers.length > 5">
                                    <span class="symbol-label font-weight-bold">{{_projectUsers.length - 5}}+</span>
                                </div>
                            </div>
                            <ng-template #loadingMembers>
                                <div class="spinner spinner-primary"></div>
                            </ng-template>
                        </div>
                    </div>
                </ng-container>

                <!--begin::Nav-->
                <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
                    <div class="navi-item mb-2">
                        <a [routerLink]="['backlog']" [routerLinkActive]="['active']" class="navi-link py-4">
                            <span class="navi-icon mr-2">
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z"
                                                fill="#000000" opacity="0.3" />
                                            <path
                                                d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z"
                                                fill="#000000" />
                                            <rect fill="#000000" opacity="0.3" x="7" y="10" width="5" height="2"
                                                rx="1" />
                                            <rect fill="#000000" opacity="0.3" x="7" y="14" width="9" height="2"
                                                rx="1" />
                                        </g>
                                    </svg>
                                </span>
                            </span>
                            <span class="navi-text font-size-lg">Backlog</span>
                        </a>
                    </div>
                    <div class="navi-item mb-2">
                        <a [routerLink]="['issues']" [routerLinkActive]="['active']" class="navi-link py-4">
                            <span class="navi-icon mr-2">
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <rect fill="#000000" x="4" y="5" width="16" height="3" rx="1.5"></rect>
                                            <path
                                                d="M5.5,15 L18.5,15 C19.3284271,15 20,15.6715729 20,16.5 C20,17.3284271 19.3284271,18 18.5,18 L5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 Z M5.5,10 L12.5,10 C13.3284271,10 14,10.6715729 14,11.5 C14,12.3284271 13.3284271,13 12.5,13 L5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z"
                                                fill="#000000" opacity="0.3"></path>
                                        </g>
                                    </svg>
                                </span>
                            </span>
                            <span class="navi-text font-size-lg">Issues</span>
                        </a>
                    </div>
                </div>
                <!--end::Nav-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Profile Card-->
    </div>
    <!--end::Aside-->
    <!--begin::Content-->
    <div class="flex-row-fluid ml-lg-8">
        <div class="row">
            <div class="col">
                <router-outlet></router-outlet>
            </div>
            <div class="col-lg-5 col-xl-3" *ngIf="issue$ | async as issue">
                <app-issue-detail-aside [issue]="issue" [project]="getProject() | async"></app-issue-detail-aside>
            </div>
        </div>
        <!--end::Content-->
    </div>
</div>