<!--begin::Form-->
<form class="form" novalidate="novalidate" [formGroup]="createSprintForm" (ngSubmit)="submit()">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
        <!--begin::Header-->
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Create Sprint</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Start documenting as quickly as
                    possible.</span>
            </div>
            <div class="card-toolbar">
                <button type="submit" class="btn btn-success mr-2" [disabled]="
    createSprintForm.invalid
    ">Save Changes</button>
                <a [routerLink]="'../'" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
            <!-- begin::Alert error-->
            <ng-container *ngIf="hasError">
                <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
                    <div class="alert-text">The create Sprint fields are incorrect</div>
                </div>
            </ng-container>
            <!-- end::Alert error-->
            <div class="row">
                <label class="col-xl-3"></label>
                <div class="col-lg-9 col-xl-6">
                    <h5 class="font-weight-bold mb-6">Sprint Details</h5>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Title
                    <span class="text-danger">*</span></label>
                <div class="col-lg-9 col-xl-6">
                    <input class="form-control form-control-lg form-control-solid" type="text" name="title"
                        formControlName="title" autocomplete="off" [ngClass]="{
                'is-invalid': createSprintForm.controls['title'].invalid
            }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Title is required',
                control: createSprintForm.controls['title']
            }"></ng-container>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: 'Title should have at least 3 symbols',
                control: createSprintForm.controls['title']
            }"></ng-container>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxLength',
                message: 'Title should have maximum 100 symbols',
                control: createSprintForm.controls['title']
            }"></ng-container>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Description</label>
                <div class="col-lg-9 col-xl-6">
                    <textarea class="form-control form-control-lg form-control-solid" type="text" name="description"
                        formControlName="description" autocomplete="off"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Start date</label>
                <div class="col-lg-9 col-xl-6">
                    <div class="input-group input-group-solid">
                        <input ngbDatepicker #d="ngbDatepicker" formControlName="startDate" class="form-control form-control-lg form-control-solid" [ngClass]="{
                            'is-invalid': createSprintForm.controls['startDate'].invalid
                        }" />
                        <div class="input-group-append" (click)="d.toggle()">
                            <span class="input-group-text">
                                <em class="text-dark-50 flaticon-calendar"></em>
                            </span>
                        </div>
                    </div> 
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'Start date is required',
                        control: createSprintForm.controls['startDate']
                    }"></ng-container>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">End date</label>
                <div class="col-lg-9 col-xl-6">
                    <div class="input-group input-group-solid">
                        <input ngbDatepicker #t="ngbDatepicker" formControlName="endDate" class="form-control form-control-lg form-control-solid" [ngClass]="{
                            'is-invalid': createSprintForm.controls['endDate'].invalid
                        }" />
                        <div class="input-group-append" (click)="t.toggle()">
                            <span class="input-group-text">
                                <em class="text-dark-50 flaticon-calendar"></em>
                            </span>
                        </div>
                    </div> 
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'End date is required',
                        control: createSprintForm.controls['endDate']
                    }"></ng-container>
                </div>
            </div>
            <ng-template #formError let-control="control" let-message="message" let-validation="validation">
                <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
                    <div class="fv-plugins-message-container">
                        <div class="fv-help-block">
                            {{ message }}
                        </div>
                    </div>
                </ng-container>
            </ng-template>

        </div>
        <!--end::Body-->
    </div>
</form>
<!--end::Form-->