<!--begin::Form-->
<form class="form" novalidate="novalidate" [formGroup]="updateIssueForm" (ngSubmit)="submit()">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
        <!--begin::Header-->
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Update Issue</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Start documenting as quickly as
                    possible.</span>
            </div>
            <div class="card-toolbar">
                <button type="submit" class="btn btn-success mr-2" [disabled]="
    updateIssueForm.invalid
    ">Save Changes</button>
                <a [routerLink]="'../'" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
        <!--end::Header-->
        <div class="card-body" *ngIf="isLoading$ | async; else updateForm">
            <div class="spinner spinner-primary"></div>
        </div>

        <ng-template #updateForm>
        <!--begin::Body-->
        <div class="card-body">
            <!-- begin::Alert error-->
            <ng-container *ngIf="hasError">
                <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
                    <div class="alert-text">The create issue fields are incorrect</div>
                </div>
            </ng-container>
            <!-- end::Alert error-->
            <div class="row">
                <label class="col-xl-3"></label>
                <div class="col-lg-9 col-xl-6">
                    <h5 class="font-weight-bold mb-6">Issue Details</h5>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Title
                    <span class="text-danger">*</span></label>
                <div class="col-lg-9 col-xl-6">
                    <input class="form-control form-control-lg form-control-solid" type="text" name="title"
                        formControlName="title" autocomplete="off" [ngClass]="{
                'is-invalid': updateIssueForm.controls['title'].invalid
            }" />
                </div>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Title is required',
            control: updateIssueForm.controls['title']
        }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Title should have at least 3 symbols',
            control: updateIssueForm.controls['title']
        }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxLength',
            message: 'Title should have maximum 100 symbols',
            control: updateIssueForm.controls['title']
        }"></ng-container>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Type
                    <span class="text-danger">*</span></label>
                <div class="col-lg-9 col-xl-6">
                    <select class="form-control form-control-lg form-control-solid" id="type" name="type"
                        formControlName="type">
                        <option *ngFor="let item of types | enumToArray" [value]="item.index">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Status
                    <span class="text-danger">*</span></label>
                <div class="col-lg-9 col-xl-6">
                    <select class="form-control form-control-lg form-control-solid" id="status" name="status"
                        formControlName="status">
                        <option *ngFor="let item of status | enumToArray" [value]="item.index">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Storypoints</label>
                <div class="col-lg-9 col-xl-6">
                    <input class="form-control form-control-lg form-control-solid" type="number" name="storyPoints"
                        formControlName="storyPoints" autocomplete="off"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Description</label>
                <div class="col-lg-9 col-xl-6">
                    <ckeditor [editor]="Editor" name="description" formControlName="description"></ckeditor>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Epic</label>
                <div class="col-lg-9 col-xl-6">
                 <select formControlName="epicId" class="form-control form-control-lg form-control-solid" *ngIf="epics$ | async as epics; else loadingEpics">
                  <option value="">No epic</option>
                  <option *ngFor="let epic of epics" [value]="epic.id">{{epic.title}} | ({{epic.id}})</option>
                 </select>
                </div>
                <ng-template #loadingEpics>
                    <div class="spinner spinner-primary"></div>
                </ng-template>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Assignees</label>
                <div class="col-lg-9 col-xl-6">
                    <app-tag-input formControlName="assignees" [value]="assignees" [settings]="assigneeSettings"></app-tag-input>
                </div>
            </div>
            <ng-template #formError let-control="control" let-message="message" let-validation="validation">
                <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
                    <div class="fv-plugins-message-container">
                        <div class="fv-help-block">
                            {{ message }}
                        </div>
                    </div>
                </ng-container>
            </ng-template>

        </div>
        </ng-template>
        <!--end::Body-->
    </div>
</form>
<!--end::Form-->