<div class="timeline-item" [class.timeline-item-other]="!lastItem" [class.timeline-item-last]="lastItem" *ngIf="user$ | async as user">
    <div class="timeline-media">
        <img alt="Pic" *ngIf="user.pic != null && user.pic != ''; else firstletter" [src]="user.pic" />
        <ng-template #firstletter>
            <span class="font-size-h3 font-weight-bold">{{user.fullname | firstLetter}}</span>
        </ng-template>
    </div>
    <div class="timeline-content">
        <div class="d-flex align-items-center justify-content-between mb-1">
            <div class="mr-2">
                <a href="#" class="text-dark-75 text-hover-primary font-weight-bold"><strong>{{user.fullname}}</strong> {{ getActionString() }} <strong *ngIf="history.changedFields.length == 1">{{history.changedFields[0].fieldName}}</strong></a>
                <span class="text-muted ml-2" ngbTooltip="{{history.createdAt | date:'medium'}}">{{history.createdAt | dateAgo}}</span>
            </div>
        </div>
        <div class="p-0 d-flex" *ngFor="let field of history.changedFields">
            <span class="pr-2" *ngIf="history.changedFields.length > 1"><strong>{{field.fieldName}}:</strong></span>
            <ng-container [ngSwitch]="field.fieldType">
                <ng-container *ngSwitchCase="fieldTypes.String">
                    <app-history-string-template [value]="field.valueBefore"></app-history-string-template>
                    <span class="px-1">→</span>
                    <app-history-string-template [value]="field.valueAfter"></app-history-string-template>
                </ng-container>
                <ng-container *ngSwitchCase="fieldTypes.Assignees">
                    <app-history-assignees-template [value]="field.valueBefore"></app-history-assignees-template>
                    <span class="px-1 d-inline-flex align-items-center">→</span>
                    <app-history-assignees-template [value]="field.valueAfter"></app-history-assignees-template>
                </ng-container>
                <ng-container *ngSwitchCase="fieldTypes.Epic">
                    <app-history-epic-id-template [value]="field.valueBefore"></app-history-epic-id-template>
                    <span class="px-1 d-inline-flex align-items-center">→</span>
                    <app-history-epic-id-template [value]="field.valueAfter"></app-history-epic-id-template>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <span>{{field.valueBefore}}</span>
                    <span class="px-1">→</span>
                    <span>{{field.valueAfter}}</span>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>