
.timeline-item-last {
    border-left-color: transparent!important;
    padding-bottom: 0px!important;
}

.timeline-item-other {
    border-left-color: #EBEDF3!important;
    padding-bottom: 20px!important;
}