<div class="d-flex w-100">
    <!--begin::Symbol-->
    <div class="symbol symbol-40 symbol-light-success mr-5 mt-1">
        <span class="symbol-label">
            <img src="/metronic/theme/html/demo1/dist/assets/media/svg/avatars/009-boy-4.svg" class="h-75 align-self-end" alt="">
        </span>
    </div>
    <!--end::Symbol-->
    <!--begin::Info-->
    <div class="d-flex flex-column flex-row-fluid">
        <ckeditor [editor]="Editor" name="description"></ckeditor>
    </div>
    <!--end::Info-->
</div>