<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
          Invite Users
        </div>
    </div>
    <div class="modal-body">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label">Invitations</label>
              <div class="col-lg-9">
                <app-users-tag-input formControlName="invitations"></app-users-tag-input>
              </div>
            </div>
        </form>
    </div>
</div>