<div class="image-input image-input-outline" id="kt_profile_avatar"
    style="background-image: url({{defaultPicture}})">
    <div class="image-input-wrapper" style="background-image: url({{currentPicture}})">
    </div>
    <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change"
        data-toggle="tooltip" title="" data-original-title="Change avatar">
        <em class="fa fa-pen icon-sm text-muted"></em>
        <input type="file" accept=".png, .jpg, .jpeg">
        <input type="hidden">
    </label>
    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel"
        data-toggle="tooltip" title="" data-original-title="Cancel avatar">
        <em class="ki ki-bold-close icon-xs text-muted"></em>
    </span>
    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove"
        data-toggle="tooltip" title="" data-original-title="Remove avatar">
        <em class="ki ki-bold-close icon-xs text-muted"></em>
    </span>
</div>