<ng-select [items]="projectGroups$ | async" [multiple]="multiple" [closeOnSelect]="!multiple" [disabled]="disabled" [(ngModel)]="projectGroupsIds" (change)="onChange($event)" #input bindLabel="fullname" bindValue="id">
    <ng-template ng-label-tmp let-projectGroup="item" let-clear="clear">
        <span class="bg-secondary rounded d-flex align-items-center">
            <div>
                {{projectGroup.name}}
            </div>
            <span class="ng-value-icon right" (click)="clear(projectGroup)" aria-hidden="true">
                ×
            </span>
        </span>
    </ng-template>
    <ng-template ng-option-tmp let-projectGroup="item" let-item$="item$" let-index="index">
        <span class="d-flex justify-content-between align-items-center">
            <span class="d-flex align-items-center">
                <div class="mr-2">
                    {{projectGroup.name}} - 
                </div>
                <ng-container *ngIf="projectGroup.userIds.length > 0">
                    <app-user-symbol-group [users$]="getUsersByIds(projectGroup.userIds)"></app-user-symbol-group>
                </ng-container>
                <ng-container *ngIf="projectGroup.userIds.length == 0">
                    <span><small>Empty</small></span>
                </ng-container>
            </span>
            <span class="svg-icon svg-icon-dark-50" cacheSVG="true" *ngIf="item$.selected"
                [inlineSVG]="'./assets/media/svg/icons/Navigation/Check.svg'">
            </span>
        </span>
    </ng-template>
</ng-select>