<!--begin::Form-->
<form class="form" novalidate="novalidate" [formGroup]="personalInfoForm" (ngSubmit)="submit()">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
        <!--begin::Header-->
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Personal Information</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Update your personal
                    information</span>
            </div>
            <div class="card-toolbar">
                <button type="submit" class="btn btn-success mr-2" [disabled]="
    personalInfoForm.invalid
    ">Save Changes</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
            <!-- begin::Alert error-->
            <ng-container *ngIf="hasError">
                <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
                    <div class="alert-text">The personal information fields are incorrect</div>
                </div>
            </ng-container>
            <!-- end::Alert error-->
            <div class="row">
                <label class="col-xl-3"></label>
                <div class="col-lg-9 col-xl-6">
                    <h5 class="font-weight-bold mb-6">User Info</h5>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                <div class="col-lg-9 col-xl-6">
                    <app-avatar-file-upload formControlName="file" [currentPicture]="currentUser.pic" [defaultPicture]="'/assets/media/plugins/avatar/blank.png'"></app-avatar-file-upload>
                    <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Full Name</label>
                <div class="col-lg-9 col-xl-6">
                    <input class="form-control form-control-lg form-control-solid" type="text" name="fullname"
                        formControlName="fullname" autocomplete="off" [ngClass]="{
                'is-invalid': personalInfoForm.controls['fullname'].invalid
            }" />
                </div>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Fullname is required',
            control: personalInfoForm.controls['fullname']
        }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Fullname should have at least 3 symbols',
            control: personalInfoForm.controls['fullname']
        }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxLength',
            message: 'Fullname should have maximum 100 symbols',
            control: personalInfoForm.controls['fullname']
        }"></ng-container>
            </div>
            <ng-template #formError let-control="control" let-message="message" let-validation="validation">
                <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
                    <div class="fv-plugins-message-container">
                        <div class="fv-help-block">
                            {{ message }}
                        </div>
                    </div>
                </ng-container>
            </ng-template>

        </div>
        <!--end::Body-->
    </div>
</form>
<!--end::Form-->