<div class="row mb-3">
    <div class="col-12 col-xxxxl-2 col-xxl-3 col-xl-3 col-lg-4 mb-6">
        <app-epic-list></app-epic-list>
    </div>
    <div class="col">
        <ng-container cdkDropListGroup>
            <ng-container *ngIf="sprints$ | async as sprints">
                <div class="card card-custom mb-6" *ngFor="let sprint of sprints">
                    <div class="card-header flex-wrap border-0 pb-0 pt-2">
                        <div class="card-title">
                            <div class="card-label d-block">
                                <div class="d-flex align-items-center">
                                    {{sprint.title}}
                                    <small class="ml-2" *ngIf="getIssueCountForSprint(sprint.id) | async as sprintIssueCount">{{sprintIssueCount}} Issue{{sprintIssueCount == 1 ? '' : 's'}}</small>
                                    <span *ngIf="sprint.startedAt != minDate && sprint.endedAt == minDate" class="label label-sm label-success label-pill label-inline ml-2">Active</span>
                                </div>
                                <p class="font-size-sm text-muted">{{sprint.startDate | date}} &#8226; {{sprint.endDate | date}}</p>
                            </div>
                        </div>
                        <ng-container *requirePermission="sprintPermissionKeys.ManageSprints">
                            <div class="card-toolbar align-items-start" *ngIf="sprint.startedAt == minDate">
                                <!--begin::Button-->
                                <button (click)="startSprint(sprint)" class="btn btn-secondary btn-sm font-weight-bolder">
                                    Start sprint</button>
                                <!--end::Button-->
                            </div>
                        </ng-container>
                    </div>
                    <div class="card-body" *ngIf="!(loadedIssues | async); else sprintIssues">
                        <div class="spinner spinner-primary"></div>
                    </div>
                    <ng-template #sprintIssues>
                        <div class="card-body pt-0" *ngIf="getIssuesForSprint(sprint.id) | async as issues">
                            <div [id]="sprint.id" class="rounded bg-gray-300 px-2 pt-2 pb-2" cdkDropList
                                [cdkDropListData]="issues" (cdkDropListDropped)="issueDropped($event)">
                                <ng-container *ngIf="issues.length > 0 else noSprintIssues">
                                    <app-backlog-item *ngFor="let issue of issues"
                                        [issue]="issue"></app-backlog-item>
                                </ng-container>
                                <ng-template #noSprintIssues>
                                    <div class="card mb-1">
                                        <div class="card-body p-2">
                                            <span>This sprint does not yet have any issues.</span>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </ng-container>

            <div class="card card-custom">
                <div class="card-header flex-wrap border-0 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">Backlog</h3>
                        <small *ngIf="backlogCount$ | async as backlogCount">{{backlogCount}} Issue{{backlogCount == 1 ? '' : 's'}}</small>
                    </div>
                    <div class="card-toolbar" *requirePermission="sprintPermissionKeys.ManageSprints">
                        <!--begin::Button-->
                        <a [routerLink]="['../sprint/create']" class="btn btn-secondary btn-sm font-weight-bolder">
                            <span class="svg-icon svg-icon-md">
                                <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/Flatten.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <circle fill="#000000" cx="9" cy="15" r="6" />
                                        <path
                                            d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                                            fill="#000000" opacity="0.3" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>Create sprint</a>
                        <!--end::Button-->
                    </div>
                </div>
                <div class="card-body" *ngIf="!(loadedIssues | async); else backlog">
                    <div class="spinner spinner-primary"></div>
                </div>
                <ng-template #backlog>
                    <div class="card-body pt-0" *ngIf="backlog$ | async as backlog">
                        <div [id]="backlogKey" class="rounded bg-gray-300 px-2 pt-2 pb-2" cdkDropList
                            [cdkDropListData]="backlog" (cdkDropListDropped)="issueDropped($event)">
                            <ng-container *ngIf="backlog.length > 0 else noIssues">
                                <app-backlog-item *ngFor="let issue of backlog" [issue]="issue"></app-backlog-item>
                            </ng-container>
                            <ng-template #noIssues>
                                <div class="card mb-1">
                                    <div class="card-body p-2">
                                        <span>This project does not yet have any issues.</span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-container *ngIf="projectId$ | async as projectId">
                                <a class="cursor-pointer" *requirePermission="issuePermissionKeys.CreateIssues" (click)="createIssue(projectId)">
                                    <div class="d-flex align-items-center p-2">
                                        <span class="svg-icon svg-icon-dark svg-icon-xs mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1" />
                                                    <rect fill="#000000" opacity="0.3"
                                                        transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) "
                                                        x="4" y="11" width="16" height="2" rx="1" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="text-dark-75 font-weight-bold text-hover-primary font-size-md">
                                            New Issue
                                        </span>
                                    </div>
                                </a>
                            </ng-container>
                        </div>
                    </div>
                </ng-template>
            </div>
        </ng-container>
    </div>
</div>