<div class="d-flex flex-row">
    <!--begin::Aside-->
    <div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px" id="kt_profile_aside">
        <!--begin::Profile Card-->
        <div class="card card-custom">
            <!--begin::Body-->
            <div class="card-body pt-15">
                <!--begin::User-->
                <div class="text-center mb-10" *ngIf="user$ | async as _user">
                    <div class="symbol symbol-60 symbol-circle symbol-xl-90">
                        <div *ngIf="_user.pic != null && _user.pic != ''; else firstletter" class="symbol-label" style="background-image:url('{{_user.pic}}')"></div>
                        <ng-template #firstletter>
                                <span class="symbol-label font-size-h3 font-weight-bold">{{
                                        _user.fullname | firstLetter
                                        }}</span>
                        </ng-template>
                    </div>
                    <h4 class="font-weight-bold my-2">{{_user.fullname}}</h4>
                    <span class="label label-light-succes label-inline font-weight-bold label-lg">{{_user.role}}</span>
                </div>
                <!--end::User-->
                <!--begin::Contact-->
                <div class="mb-10 text-center">
                    <a href="#" class="btn btn-icon btn-circle btn-light-facebook mr-2">
                        <em class="socicon-facebook"></em>
                    </a>
                    <a href="#" class="btn btn-icon btn-circle btn-light-twitter mr-2">
                        <em class="socicon-twitter"></em>
                    </a>
                    <a href="#" class="btn btn-icon btn-circle btn-light-google">
                        <em class="socicon-google"></em>
                    </a>
                </div>
                <!--end::Contact-->
                <!--begin::Nav-->
                <a href="#" class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">Profile Overview</a>
                <a [routerLink]="['personal-information']" [routerLinkActive]="['active']" class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">Personal info</a>
                <a [routerLink]="['change-password']" [routerLinkActive]="['active']" class="btn btn-hover-light-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block">Change Password</a>
                <!--end::Nav-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Profile Card-->
    </div>
    <!--end::Aside-->
    <!--begin::Content-->
    <div class="flex-row-fluid ml-lg-8">
        <router-outlet></router-outlet>
    </div>
    <!--end::Content-->
</div>