<!--begin::Form-->
<form class="form" novalidate="novalidate" [formGroup]="updateProjectForm" (ngSubmit)="submit()">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
        <!--begin::Header-->
        <div class="card-header py-3">
            <div class="card-title">
                <h3 class="card-label font-weight-bolder text-dark">Details</h3>
            </div>
            <div class="card-toolbar">
                <button type="submit" class="btn btn-success mr-2" [disabled]="
        updateProjectForm.invalid
        ">Save Changes</button>
                <a [routerLink]="returnUrl" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
        <!--end::Header-->
        <div class="card-body" *ngIf="isLoading$ | async; else updateForm">
            <div class="spinner spinner-primary"></div>
        </div>

        <ng-template #updateForm>
            <!--begin::Body-->
            <div class="card-body">
                <!-- begin::Alert error-->
                <ng-container *ngIf="hasError">
                    <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
                        <div class="alert-text">The create project fields are incorrect</div>
                    </div>
                </ng-container>
                <!-- end::Alert error-->
                <div class="row">
                    <label class="col-xl-3"></label>
                    <div class="col-lg-9 col-xl-6">
                        <h5 class="font-weight-bold mb-6">Project Details</h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">Picture</label>
                    <div class="col-lg-9 col-xl-6">
                        <app-avatar-file-upload formControlName="file" [currentPicture]="currentProject.pic"
                            [defaultPicture]="'/assets/media/plugins/avatar/blank.png'"></app-avatar-file-upload>
                        <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">Title</label>
                    <div class="col-lg-9 col-xl-6">
                        <input class="form-control form-control-lg form-control-solid" type="text" name="title"
                            formControlName="title" autocomplete="off" [ngClass]="{
                    'is-invalid': updateProjectForm.controls['title'].invalid
                }" />
                    </div>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Title is required',
                control: updateProjectForm.controls['title']
            }"></ng-container>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: 'Title should have at least 3 symbols',
                control: updateProjectForm.controls['title']
            }"></ng-container>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxLength',
                message: 'Title should have maximum 100 symbols',
                control: updateProjectForm.controls['title']
            }"></ng-container>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">Description</label>
                    <div class="col-lg-9 col-xl-6">
                        <textarea class="form-control form-control-lg form-control-solid" type="text" name="description"
                            formControlName="description" autocomplete="off"></textarea>
                    </div>
                </div>
                <ng-template #formError let-control="control" let-message="message" let-validation="validation">
                    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
                        <div class="fv-plugins-message-container">
                            <div class="fv-help-block">
                                {{ message }}
                            </div>
                        </div>
                    </ng-container>
                </ng-template>

            </div>
        </ng-template>

        <!--end::Body-->
    </div>
</form>
<!--end::Form-->