:host ::ng-deep .ck-editor__editable_inline {
    background-color: #F3F6F9!important;
    border-color: #F3F6F9!important;
    border-radius: 0.42rem!important;
    color: #3F4254;
    min-height: calc((1.5em + 1.65rem + 2px) *2);
}


:host ::ng-deep .ck-editor__editable_inline {
    background-color: #F3F6F9!important;
    border-color: #F3F6F9!important;
    box-shadow: none!important;
    color: #3F4254;
}

:host ::ng-deep .ck-editor__editable_inline:active {
    background-color: #EBEDF3!important;
    border-color: #EBEDF3!important;
    color: #3F4254;
}

:host ::ng-deep .ck-editor__editable_inline:focus-within {
    background-color: #EBEDF3!important;
    border-color: #EBEDF3!important;
    color: #3F4254;
}
