<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            Create new Issue
        </div>
    </div>
    <div class="modal-body">

        <!--begin::Form-->
        <form class="form" novalidate="novalidate" [formGroup]="createIssueForm">
            <!-- begin::Alert error-->
            <ng-container *ngIf="hasError">
                <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
                    <div class="alert-text">The create issue fields are incorrect</div>
                </div>
            </ng-container>
            <!-- end::Alert error-->
            <div class="row">
                <label class="col-xl-3"></label>
                <div class="col-lg-9">
                    <h5 class="font-weight-bold mb-6">Issue Details</h5>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Title
                    <span class="text-danger">*</span></label>
                <div class="col-lg-9">
                    <input class="form-control form-control-lg form-control-solid" type="text" name="title"
                        formControlName="title" autocomplete="off" [ngClass]="{
                'is-invalid': createIssueForm.controls['title'].invalid
            }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Title is required',
                control: createIssueForm.controls['title']
            }"></ng-container>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: 'Title should have at least 3 symbols',
                control: createIssueForm.controls['title']
            }"></ng-container>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxLength',
                message: 'Title should have maximum 100 symbols',
                control: createIssueForm.controls['title']
            }"></ng-container>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Type
                    <span class="text-danger">*</span></label>
                <div class="col-lg-9">
                    <select class="form-control form-control-lg form-control-solid" id="type" name="type"
                        formControlName="type" [ngClass]="{
                            'is-invalid': createIssueForm.controls['type'].invalid
                        }">
                        <option *ngFor="let item of types | enumToArray" [value]="item.index">{{item.name}}</option>
                    </select>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'Type is required',
                        control: createIssueForm.controls['type']
                    }"></ng-container>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Description</label>
                <div class="col-lg-9">
                    <ckeditor [editor]="Editor" name="description" formControlName="description"></ckeditor>
                </div>
            </div>
            <ng-template #formError let-control="control" let-message="message" let-validation="validation">
                <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
                    <div class="fv-plugins-message-container">
                        <div class="fv-help-block">
                            {{ message }}
                        </div>
                    </div>
                </ng-container>
            </ng-template>
        </form>
        <!--end::Form-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>

        <button type="submit" class="btn btn-primary btn-elevate" (click)="create()"
            [disabled]="createIssueForm.invalid">Save</button>
    </div>
</div>