
<div class="navi navi-bold navi-hover navi-active navi-link-rounded">
    <div class="navi-item my-2">
        <a [routerLink]="['issue-tracking']" [routerLinkActive]="['active']"
            queryParamsHandling="merge" class="navi-link py-4">
            <span class="navi-icon mr-2">
                <span class="svg-icon" cacheSVG="true"
                    [inlineSVG]="'./assets/media/svg/icons/Navigation/Arrow-left.svg'">
                </span>
            </span>
            <span class="navi-text font-size-lg">Back to project</span>
        </a>
    </div>
<div class="navi-separator my-2"></div>
<div class="navi-section text-gray-500 text-uppercase font-weight-bolder">Project Settings</div>
    <div class="navi-item mb-2">
        <a [routerLink]="['settings', 'details']" [routerLinkActive]="['active']"
            queryParamsHandling="merge" class="navi-link py-4">
            <span class="navi-icon mr-2">
                <span class="svg-icon" cacheSVG="true"
                    [inlineSVG]="'./assets/media/svg/icons/General/Clipboard.svg'">
                </span>
            </span>
            <span class="navi-text font-size-lg">Details</span>
        </a>
    </div>
    <div class="navi-item mb-2">
        <a [routerLink]="['settings', 'people']" [routerLinkActive]="['active']"
            queryParamsHandling="merge" class="navi-link py-4">
            <span class="navi-icon mr-2">
                <span class="svg-icon" cacheSVG="true"
                    [inlineSVG]="'./assets/media/svg/icons/General/User.svg'">
                </span>
            </span>
            <span class="navi-text font-size-lg">People</span>
        </a>
    </div>
    <div class="navi-item mb-2">
        <a [routerLink]="['settings', 'groups']" [routerLinkActive]="['active']"
            queryParamsHandling="merge" class="navi-link py-4">
            <span class="navi-icon mr-2">
                <span class="svg-icon" cacheSVG="true"
                    [inlineSVG]="'./assets/media/svg/icons/Communication/Group.svg'">
                </span>
            </span>
            <span class="navi-text font-size-lg">Groups</span>
        </a>
    </div>
    <div class="navi-item mb-2">
        <a [routerLink]="['settings', 'permission-scheme']" [routerLinkActive]="['active']"
            queryParamsHandling="merge" class="navi-link py-4">
            <span class="navi-icon mr-2">
                <span class="svg-icon" cacheSVG="true"
                    [inlineSVG]="'./assets/media/svg/icons/General/Lock.svg'">
                </span>
            </span>
            <span class="navi-text font-size-lg">Permission scheme</span>
        </a>
    </div>
</div>