<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            Delete Issue '{{issueId}}'
        </div>
    </div>
    <div class="modal-body">
        <span>Are you sure you want to permanently delete this issue?</span>
    </div>
    <!--end::Form-->
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>

        <button type="submit" class="btn btn-danger btn-elevate" (click)="delete()">Delete</button>
    </div>
</div>